
    .circle {
	width: 110px;
	height: 110px;
	background: red;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	float:left;
    

}
#myfrnd
{
    width: 110px;
	height: 110px;
	background:green;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	float:left;
	margin-left:20px;
	

    
    
    }
    #img2
    {
        margin-bottom:7px;
        
        
        }

    #myfrnd:hover
    {
        opacity:0.5;}
       
       
       
 #addfrnd
{
    width: 110px;
	height: 110px;
	background:purple;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	float:left;
	margin-top:30px;
	
	

    
    
    }
        
        #addfrnd:hover
        {
            opacity:0.5;
            
            }
        

.circle:hover
{
    opacity:0.5;
    
    
    }
#nav
{
    height:150px;
    background-color:Black;
    
    
    
    }
    #a
    {
        margin-left:2px;
        
        
        }
    #a:hover
    {
        height:100px;
        width:100px;
        
        float:left;
      
        
        
        
        }
        a
        {
            display:block;
            text-decoration:None;
            color:Black;
            font-weight:bold;
            font-family:Comic Sans MS;
            font-size:10px;
           
            
            
            }
            h1
            {
                color:White;
                font-size:15px;
                }
             
             #post
             {width: 110px;
	height: 110px;
	background:orange;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	float:left;
	margin-top:30px;
                 
                 
                 }  
                 
                  #post:hover
                     {
                         opacity:0.5;
                     
                     
                     
                     }
                     
                     #fr
             {width: 110px;
	height: 110px;
	background:yellow;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	float:left;
                 
                 
                 }  
                 
                  #fr:hover
                     {
                         opacity:0.5;
                     
                     
                     
                     }
                     #createtp
             {width: 110px;
	height: 110px;
	background:maroon;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	float:left;
                 
                 
                 }  
                 
                  #createtp:hover
                     {
                         opacity:0.5;
                     
                     
                     
                     }
                      #mytp
             {width: 110px;
	height: 110px;
	background:maroon;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	float:left;
	margin-top:-5px;
                 
                 
                 }  
                 
                  #mytp:hover
                     {
                         opacity:0.5;
                     
                     
                     
                     }
                
                 #invitetp
             {width: 110px;
	height: 110px;
	background:red;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	float:left;
	margin-top:-15px;
                 
                 
                 }  
                 
                  #invitetp:hover
                     {
                         opacity:0.5;
                     
                     
                     
                     }
             #changepass
             {width: 110px;
	height: 110px;
	background:pink;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	float:left;
	margin-top:-45px;
                 
                 
                 }  
                 
                  #changepass:hover
                     {
                         opacity:0.5;
                     
                     
                     
                     }
                      #logout
             {width: 110px;
	height: 110px;
	background:blue;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	float:left;
	margin-top:-40px;
                 
                 
                 }  
                 
                  #logout:hover
                     {
                         opacity:0.5;
                     
                     
                     
                     }
           
           
           #margin
           {
               margin-left:80px;
               }          
                     
                     
                     
           